<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Result Portal{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Student Result Portal</h1>
        <hr>
        <nav>
            <a href="/">Home</a>
            <a href="/submit">Check Result</a>
            <a href="/about">About us</a>
            <a href="/contact">Contact us</a>
            <a href="/help">Help</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <hr>
    <footer>
        <p>© 2026 Student Result Portal</p>
    </footer>
</body>

</html>